<h2>Search</h2>
<p>Enter one or more keywords to search Liberator for streamable content.</p>
<form action="search" method="get" accept-charset="utf-8">
	<p>
		<input type="text" name="q" placeholder="community modern warfare">
		<input type="submit" value="Search">
	</p>
</form>