<p>Streaker is a simple controller for <a href="http://liberator.blolol.com/">Liberator</a>'s on-demand streaming service. One movie or TV show episode may be streamed at once to several viewers.</p>
<%= erb :_search_form, :layout => false %>