<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Streaker</title>
	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<h1>Streaker</h1>
	
	<% if playing = Streaker::Web::Process.playing %>
  	<p class="status playing">
  	  Currently streaming <span class="title"><%= File.basename(playing) %></span>.
  	  Connect your media player to <code>http://<%= request.host %>:3555/</code> to watch.
  	</p>
  <% end %>
  
	<%= yield %>
</body>
</html>
