body {
	width: 800px;
	margin: 0 auto;
	font: normal normal normal 1em/1.5em "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=text] {
	width: 50%;
	font-size: 1em;
}

input[type=submit] {
	position: relative;
	bottom: 2px;
}

code { font-size: 1.2em; }

p.status.playing {
	padding: 10px;
	color: #4c8316;
	background-color: #d9edc1;
	border: 1px solid #9fd165;
	border-radius: 10px;
}

p.status.playing span.title { font-weight: bold; }
